{{extend './_layouts/home.html'}}
{{block 'head'}}  
  <link rel="stylesheet" href="../public/css/index.min.23a5b1ca.min.css" />
{{/block}}
{{block 'body'}}
<div id='main'>
  <div id='sidebar'>
    <div class='panel'>
      <div class='inner'>
        <p>CNode：Node.js专业中文社区</p>
        <div>
          您可以
          <a href='/signin'>登录</a>
          或
          <a href='/signup'>注册</a>
          , 也可以
          <a href="/auth/github">
            <span class="span-info">
              通过 GitHub 登录
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class='panel'>
      <div class='header'>
        <span class='col_fade'>无人回复的话题</span>
      </div>
      <div class='inner'>
        <ul class="unstyled">
          <li>
            <div><a class='dark topic_title' href="/topic/5c20b40476c4964062a1d3f1" title="我们来说一说TCP神奇的40ms">我们来说一说TCP神奇的40ms</a>
            </div>
          </li>
          <li>
            <div><a class='dark topic_title' href="/topic/5c20406776c4964062a1ce29" title="Json-On-Relations: 快速搭建企业级应用">Json-On-Relations: 快速搭建企业级应用</a>
            </div>
          </li>
          <li>
            <div><a class='dark topic_title' href="/topic/5c1cbaa676c4964062a1c591" title="如何做活动页面的滚动动画？让用户体验MAX的demo在这里！">如何做活动页面的滚动动画？让用户体验MAX的demo在这里！</a>
            </div>
          </li>
          <li>
            <div><a class='dark topic_title' href="/topic/5c1cb9a83898674067a76ea4" title="分享个可以把 iphone 变成 mac 键盘的 app">分享个可以把 iphone 变成 mac 键盘的 app</a>
            </div>
          </li>
          <li>
            <div><a class='dark topic_title' href="/topic/5c1c5edd76c4964062a1c252" title="Vtiger CRM 几处SQL注入漏洞分析，测试工程师可借鉴">Vtiger CRM 几处SQL注入漏洞分析，测试工程师可借鉴</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="content">
    <div class="panel">
      <div class="inner no-padding">
        <div id="topic_list">
          <div class='cell'>

            <a class="user_avatar pull-left" href="/user/vagusX">
              <img src="https://avatars3.githubusercontent.com/u/6828924?v=4&amp;s=120"
              title="vagusX"
              />
            </a>

            <span class="reply_count pull-left">
              <span class="count_of_replies" title="回复数">
                14
              </span>
              <span class="count_seperator">/</span>
              <span class="count_of_visits" title='点击数'>
                2904
              </span>
            </span>


            <a class='last_time pull-right' href="/topic/5c052988d3b8ab334e8da370#5c20859676c4964062a1d0f0">
              <img class="user_small_avatar" src="https://avatars1.githubusercontent.com/u/17946554?v=4&s=120">
              <span class="last_active_time">6 小时前</span>
            </a>



            <div class="topic_title_wrapper">


              <span class='put_top'>置顶</span>



              <a class='topic_title' href='/topic/5c052988d3b8ab334e8da370' title='第二届蚂蚁金服体验科技大会将于19年1月5日举行，期待与你相遇'>
                第二届蚂蚁金服体验科技大会将于19年1月5日举行，期待与你相遇
              </a>
            </div>
          </div>
          <div class='cell'>

            <a class="user_avatar pull-left" href="/user/lovevfp">
              <img src="https://avatars.githubusercontent.com/u/285661?v=3&amp;s=120"
              title="lovevfp"
              />
            </a>

            <span class="reply_count pull-left">
              <span class="count_of_replies" title="回复数">
                18
              </span>
              <span class="count_seperator">/</span>
              <span class="count_of_visits" title='点击数'>
                3453
              </span>
            </span>


            <a class='last_time pull-right' href="/topic/5bffb25cd6104a4f803a2dfb#5c2054d83898674067a778d8">
              <img class="user_small_avatar" src="https://avatars1.githubusercontent.com/u/17946554?v=4&s=120">
              <span class="last_active_time">9 小时前</span>
            </a>



            <div class="topic_title_wrapper">


              <span class='put_top'>置顶</span>



              <a class='topic_title' href='/topic/5bffb25cd6104a4f803a2dfb' title='第13届D2前端技术论坛将于2019年1月6日在杭州举办，6大主题方向等你来听'>
                第13届D2前端技术论坛将于2019年1月6日在杭州举办，6大主题方向等你来听
              </a>
            </div>
          </div>
          <div class='cell'>

            <a class="user_avatar pull-left" href="/user/alsotang">
              <img src="https://avatars1.githubusercontent.com/u/1147375?v=4&amp;s=120"
              title="alsotang"
              />
            </a>

            <span class="reply_count pull-left">
              <span class="count_of_replies" title="回复数">
                110
              </span>
              <span class="count_seperator">/</span>
              <span class="count_of_visits" title='点击数'>
                10000
              </span>
            </span>


            <a class='last_time pull-right' href="/topic/5bd4772a14e994202cd5bdb7#5c1e20e476c4964062a1c94c">
              <img class="user_small_avatar" src="https://avatars1.githubusercontent.com/u/17946554?v=4&s=120">
              <span class="last_active_time">2 天前</span>
            </a>



            <div class="topic_title_wrapper">


              <span class='put_top'>置顶</span>



              <a class='topic_title' href='/topic/5bd4772a14e994202cd5bdb7' title='服务器迁移至 aws 日本机房'>
                服务器迁移至 aws 日本机房
              </a>
            </div>
          </div>
          <div class='cell'>

            <a class="user_avatar pull-left" href="/user/i5ting">
              <img src="https://avatars3.githubusercontent.com/u/3118295?v=4&amp;s=120"
              title="i5ting"
              />
            </a>

            <span class="reply_count pull-left">
              <span class="count_of_replies" title="回复数">
                12
              </span>
              <span class="count_seperator">/</span>
              <span class="count_of_visits" title='点击数'>
                1752
              </span>
            </span>


            <a class='last_time pull-right' href="/topic/5c1760337ec239239ff579a2#5c19cbbc3898674067a75d8d">
              <img class="user_small_avatar" src="https://avatars1.githubusercontent.com/u/17946554?v=4&s=120">
              <span class="last_active_time">5 天前</span>
            </a>



            <div class="topic_title_wrapper">


              <span class='put_top'>置顶</span>



              <a class='topic_title' href='/topic/5c1760337ec239239ff579a2' title='【预告+征集分享嘉宾】北京1月12日Node Party活动'>
                【预告+征集分享嘉宾】北京1月12日Node Party活动
              </a>
            </div>
          </div>
          <div class='cell'>

            <a class="user_avatar pull-left" href="/user/varscc">
              <img src="https://avatars3.githubusercontent.com/u/32264346?v=4&amp;s=120"
              title="varscc"
              />
            </a>

            <span class="reply_count pull-left">
              <span class="count_of_replies" title="回复数">
                3
              </span>
              <span class="count_seperator">/</span>
              <span class="count_of_visits" title='点击数'>
                258
              </span>
            </span>


            <a class='last_time pull-right' href="/topic/5c1cc73976c4964062a1c5cd#5c20ca5176c4964062a1d44f">
              <img class="user_small_avatar" src="https://avatars1.githubusercontent.com/u/17946554?v=4&s=120">
              <span class="last_active_time">1 小时前</span>
            </a>



            <div class="topic_title_wrapper">


              <span class="topiclist-tab">分享</span>



              <a class='topic_title' href='/topic/5c1cc73976c4964062a1c5cd' title='vue 实现音乐模块🏄，已添加到github，动起来'>
                vue 实现音乐模块🏄，已添加到github，动起来
              </a>
            </div>
          </div>
          <div class='cell'>

            <a class="user_avatar pull-left" href="/user/wangtantan">
              <img src="https://avatars1.githubusercontent.com/u/16631445?v=4&amp;s=120"
              title="wangtantan"
              />
            </a>

            <span class="reply_count pull-left">
              <span class="count_of_replies" title="回复数">
                8
              </span>
              <span class="count_seperator">/</span>
              <span class="count_of_visits" title='点击数'>
                438
              </span>
            </span>


            <a class='last_time pull-right' href="/topic/5c1f043f76c4964062a1ca84#5c20b34e76c4964062a1d3ec">
              <img class="user_small_avatar" src="https://avatars1.githubusercontent.com/u/17946554?v=4&s=120">
              <span class="last_active_time">2 小时前</span>
            </a>



            <div class="topic_title_wrapper">


              <span class="topiclist-tab">问答</span>



              <a class='topic_title' href='/topic/5c1f043f76c4964062a1ca84' title='node用户只会使用mongodb吗？'>
                node用户只会使用mongodb吗？
              </a>
            </div>
          </div>
          <div class='cell'>

            <a class="user_avatar pull-left" href="/user/it-ionic">
              <img src="https://avatars1.githubusercontent.com/u/17946554?v=4&amp;s=120"
              title="it-ionic"
              />
            </a>

            <span class="reply_count pull-left">
              <span class="count_of_replies" title="回复数">
                30
              </span>
              <span class="count_seperator">/</span>
              <span class="count_of_visits" title='点击数'>
                5754
              </span>
            </span>


            <a class='last_time pull-right' href="/topic/5b44291035342ab0690613d6#5c2086963898674067a77ac3">
              <img class="user_small_avatar" src="https://avatars1.githubusercontent.com/u/17946554?v=4&s=120">
              <span class="last_active_time">6 小时前</span>
            </a>



            <div class="topic_title_wrapper">


              <span class="put_good">精华</span>



              <a class='topic_title' href='/topic/5b44291035342ab0690613d6' title='Electron视频教程_Electron+Vue跨平台桌面软件开发视频教程（收费啊--不贵一包烟钱-有试听）'>
                Electron视频教程_Electron+Vue跨平台桌面软件开发视频教程（收费啊--不贵一包烟钱-有试听）
              </a>
            </div>
          </div>
          <div class='cell'>

            <a class="user_avatar pull-left" href="/user/liuxing">
              <img src="https://avatars0.githubusercontent.com/u/17724186?v=4&amp;s=120"
              title="liuxing"
              />
            </a>

            <span class="reply_count pull-left">
              <span class="count_of_replies" title="回复数">
                47
              </span>
              <span class="count_seperator">/</span>
              <span class="count_of_visits" title='点击数'>
                10952
              </span>
            </span>


            <a class='last_time pull-right' href="/topic/5b1939ad29e6e510415b2916#5c1d043d3898674067a76ff9">
              <img class="user_small_avatar" src="https://avatars1.githubusercontent.com/u/17946554?v=4&s=120">
              <span class="last_active_time">3 天前</span>
            </a>



            <div class="topic_title_wrapper">


              <span class="topiclist-tab">分享</span>



              <a class='topic_title' href='/topic/5b1939ad29e6e510415b2916' title='《Node.js从入门到上线》入门篇 （持续更新中）'>
                《Node.js从入门到上线》入门篇 （持续更新中）
              </a>
            </div>
          </div>

        </div>
        <div class='pagination' current_page='1'>
          <ul>
            <li class='disabled'><a>«</a></li>
            <li class='disabled'><a>1</a></li>
            <li><a href='/?tab=all&amp;page=2'>2</a></li>
            <li><a href='/?tab=all&amp;page=3'>3</a></li>
            <li><a href='/?tab=all&amp;page=4'>4</a></li>
            <li><a href='/?tab=all&amp;page=5'>5</a></li>
            <li><a>...</a></li>
            <li><a href='/?tab=all&amp;page=83'>»</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
{{/block}}

{{block 'script'}}  
  <!-- scripts -->
  <script>
    $(document).ready(function () {
      var $nav = $('.pagination');
      var current_page = $nav.attr('current_page');
      if (current_page) {
        $nav.find('li').each(function () {
          var $li = $(this);
          var $a = $li.find('a');
          if ($a.html() == current_page) {
            $li.addClass('active');
            $a.removeAttr('href');
          }
        });
      }
    });
  </script>
  <script>
    // google analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script', "https://www.google-analytics.com/analytics.js",'ga');

    ga('create', 'UA-41753901-5', 'auto');
    ga('send', 'pageview');
  </script>
  <!--   <div style="display:none;">
    <script src="//s95.cnzz.com/z_stat.php?id=1254020586&web_id=1254020586" language="JavaScript"></script>
  </di -->
{{/block}}
