
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>register</title>

    <link rel="icon" href="../../public/images/cnode_icon_32.png" type="image/x-icon"/>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="../public/css/signin.css" media="all" />
  </head>

  <body class="text-center">
    <!-- 
      表单具有默认提交行为，默认是同步的，同步表单提交，浏览器会锁死等待服务端的相应结果
      当表单同步提交之后，无论服务端响应的是什么，都会直接覆盖当前页面
     -->
    <form class="form-signin" id="register_form">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">用户注册</h1>
      <label for="email" class="sr-only">邮箱</label>
      <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>
      <label for="nickName" class="sr-only">昵称</label>
      <input type="text" id="nickName" name="nickName" class="form-control" placeholder="NickName" required>
      <label for="password" class="sr-only">密码</label>
      <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      
    </form>
    <div class="click-signin">
      <p>已有账号<a href="/login">点击登录</a></p>
    </div>
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script>
      $('#register_form').on('submit', function (e) {
        e.preventDefault()
        var formData = $(this).serialize()
        console.log(formData)
        $.ajax({
          url: '/register',
          type: 'post',
          data: formData,
          dataType: 'json',
          success: function (data) {
            console.log(data)
            var err_code = data.err_code
            if (err_code === 0) {
              // window.alert('注册成功！')
              // 服务端重定向针对异步请求无效，只针对同步请求
              window.location.href = '/' 
            }else if (err_code === 1){
              window.alert('邮箱或用户名已存在!')
            }else if(err_code === 500){
              window.alert('服务器忙，请稍后再试！')
            }
          }
        })
      })
    </script>
  </body>
</html>
